<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<!-- This is a button toggling the off-canvas sidebar -->
	<button class="uk-button" data-uk-offcanvas="{target:'#my-id'}">Options</button>

	<!-- This is the off-canvas sidebar -->
	<div id="my-id" class="uk-offcanvas">
	    <div class="uk-offcanvas-bar">
	<p class="userinfo">
      <% if current_user %>
        Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
      <% else %>
        <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
      <% end %>
    </p></div>
	</div>


<%= yield %>
		
	

</body>
</html>
